/* index.css */

@font-face {
  font-family: Montserrat ;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: CormorantGaramond ;
  src: url(./assets/fonts/CormorantGaramond-Regular.ttf);
}



@import "tailwindcss";
@plugin "daisyui";


@theme{
  --font-montserrat: Montserrat, "sans-serif";
  --font-cormorant: CormorantGaramond, "serif";
}